// Colors

$white: #FFFFFF;
$black: #373A36;


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

$fallback: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$opensans: 'Open Sans', $fallback;


// Breakpoints

$superTiny: 350px;
$tiny: 480px;
$small: 768px;
$medium: 1024px;
$large: 1280px;
$huge: 1660px;
$superHuge: 1800px;
